<div class="card card-color">
  <img class="card-img-top" src="https://68cc55c8.ngrok.io/diztro/assets/images/defaultvehicle.png"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vehicle Details</h5>
    <p class="card-text">{{ vehicleDetail.VehicleName }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item card-color">{{ vehicleDetail.VehicleRegistrartion }}</li>
    <li class="list-group-item card-color">{{ vehicleDetail.Manufacturer }}</li>
  </ul>
</div>
