.map {
  /* background: grey; */
  height: 100%;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .map {
      min-width: 300px;
      min-height: 300px;
      width: 100%;
      height: 100%;
  }
}
